
<html>
<body>
  {{ partial "header" .}}
   
     {{ range .Pages }}
          <div style=" margin:10px; padding:10px; ">
                    <div style="font-size:20px;">
                    <a href="{{ .Permalink  }}">{{.Title}}</a>
                    </div>
               
                    {{ .Params.domain }}
                    <img src= "{{ .Params.img}}"> <br><br>            
                 
               </div>
              <br><br><br><br>
             
               {{end}}
          
              </body>
              </html>
         