<link rel="stylesheet" href ="/css/style.css">
<div class="menu" > 
    <!-- menu de navigation --> 
    
    <nav style="text-decoration: none";> 
        
        {{ partial "nav" . }} 
      
        </nav> 
        <!--<a href="{{ .Permalink}}""index.html"> Accueil</a>
        <a href="{{ .Permalink}}">{{ .Params.title}}</a>-->
    </div>
    
       <!-- <form> 
            <input id="searchbox" placeholder="Recherche" 
            type="text"/>
            <inputid="searchTap" value="search" type="submit"/>
        </form>-->
    